

<h1> About </h1>
<p>
	This is a Pintrest clone Appication made showing the use of special gems, the knowledge of MVC, RESTful architecture, and bootstrap with many other implentations. It was derived from a project but with own personal mofications and twists. There has been a stereotype of scaffolding not being professional, which is debatable, but in this project a scaffolding of Pins is used efficiently. 
</p>